* { font-family: lucida grande; }

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed !important;
  height: 100%;
  /* background-image: -webkit-linear-gradient(top, rgb(67, 78, 85), rgb(7, 18, 25));*/

  background-color: #cbd2d8;
  background-color: rgb(200, 200, 200);
  /*background-image: linear-gradient(left, #c5ccd4, #c5ccd4 71.4%, #cbd2d8 71.5%, #cbd2d8);*/
  background-image: linear-gradient(left, #c5ccd4, #c5ccd4 71.4%, #cbd2d8 71.5%, #cbd2d8);
  background-image: -webkit-linear-gradient(top, rgb(200, 200, 200), rgb(225, 225, 225));
  /*background-size: 7px 1px;*/
  overflow-x: hidden;
  border-top: solid 1px rgb(240, 240, 240);
}

img,
div {
  margin:0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.track-info-container {
}

div.track-info {
  padding: 7px;
  font-size:8pt;
  /*color: #ffffff;*/
  color: black;
  overflow-x: hidden;
}

a, div.info-field, div.track-field {
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.6);
}


div.track-field {
  margin-top: 3px;
  margin-bottom: 3px;
  font-style: normal;
  font-size: 9pt;
}

div.info-field {
  margin-top: 3px;
  margin-bottom: 3px;
  font-style: normal;
  font-size: 8pt;
  text-align: left;
}

/*
a { color: white; }
a:visited {  color: white; }*/

div.title {
  font-weight: bold;
  font-size: 12pt;
}

div.url {
  font-size: 7pt;
}

div.track-field:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.cover-art-container {
  /*width: 100px;*/
  display: inline;
  float: left;
}

img.cover-art {
  margin: 0;
  padding: 5px 5px 5px 10px;
  width: 100px;
}

